@{
    ViewData["Title"] = "About Us";
}
@*  This is my about us page in which I added the details for my company *@

@* I added the css styling throught this*@
<head><link href="~/css/style.css" rel="stylesheet" /></head>


@* I also added the bootstrap hope you would like it*@
<body>
<div class="container my-5">
	<h1 class="text-center mb-4">About Us</h1>
	<div class="row">
		<div class="col-md-6">
			<img src="~/img/towel.jpg" alt="Towels" class="img-fluid mb-3">
		</div>
		<div class="col-md-6">
			<h2>Our Company</h2>
			<p>At Towel Company, we are dedicated to providing high-quality towels for all your needs. Our towels are made from the finest materials and are designed to be both durable and comfortable. We offer a wide range of towels for use in hotels, spas, gyms, and homes, and we are committed to delivering the best customer service in the industry.</p>
			<h2>Corporate Headquarters</h2>
			<p>Our corporate headquarters are located in the heart of downtown, at the following address:</p>
			<address>
				123 Main Street<br>
				Suite 1000<br>
				Anytown, USA 12345
			</address>
			<p>If you have any questions or concerns, please feel free to contact us by phone or email:</p>
			<ul>
				<li>Phone: 1-800-555-5555</li>
				<li>Email: info@towelcompany.com</li>
			</ul>
		</div>
	</div>
	<div class="row mt-5">
		<div class="col-md-6">
			<h2>Our Staff</h2>
			<p>Our team is made up of experienced professionals who are passionate about towels. We are dedicated to providing the best products and services to our customers, and we take pride in our work. From our customer service representatives to our production team, we are committed to excellence in everything we do.</p>
		</div>
		<div class="col-md-6">
			<h2>Our Product</h2>
			<p>Our towels are made from high-quality materials, such as 100% cotton, and are designed to be both soft and durable. We offer a wide range of sizes and styles to fit your needs, including bath towels, hand towels, washcloths, and beach towels. Our towels are perfect for use in hotels, spas, gyms, and homes, and we are always adding new products to our line.</p>
		</div>
	</div>
</div>
</body>
