@{
    ViewData["Title"] = "Home Page";
}

<head>
	<link href="~/css/style.css" rel="stylesheet" />
</head>

<body>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
</div>



	<main class="container my-5">
		<section id="introduction">
			<h2>Introduction to Towels</h2>
			<p>What are towels? Where did they come from? What are the different types of towels available? Find out all you need to know about towels here.</p>
			
		</section>

		<section id="buying-guide">
			<h2>Buying Guide</h2>
			<p>What should you look for when buying towels? Which brands are the most popular? Where can you buy towels? Get answers to all your towel buying questions here.</p>
			
		</section>

		<section id="care-maintenance">
			<h2>Care and Maintenance</h2>
			<p>How do you wash towels? How can you keep towels soft and fluffy? What are some common towel care mistakes to avoid? Find out how to take care of your towels properly.</p>
			
		</section>

</body>



