@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lato:wght@700&family=Lobster&family=Poor+Story&display=swap');
body {
    background-color: lightgrey;
    color: rgb(69, 69, 69);
    font-family: 'Lato';
}


